extends _layout

block content
    #content
        h2 Профессиональный фотограф в Харькове Наталья Лукьянова
        h3 Свадебная фотосессия
        p Для меня свадьба стала одним из самых ярких и незабываемых событий в моей жизни.
            | А&nbsp;
            strong свадебные фотографии
            | &nbsp;- это бесценный клад в нашей семье, они возвращают меня в тот неповторимый день снова и снова,
            | заставляют вспомнить все волнения, пережить те же эмоции. Поэтому очень важно найти “своего”
            strong  фотографа
            | , который будет с вами
            | на одной волне и покажет вашу свадьбу именно такой, какой вы хотите ее сохранить на десятки лет.
            | Мой девиз в свадебных фотографиях - натуральность и естественность!
        p
            strong Свадебная фотосессия
            | - это, безусловно, очень важная часть свадебного дня, но все же, самое главное
            | - получите удовольствие от самого праздника, ведь вы о нем мечтали почти всю жизнь!
        h3 Фотосессия для пары - love story
        p
            | Романтическая фотосессия (love story) может стать прекрасным дополнением к вашим свадебным фото. Можно сделать съемку
            | до свадьбы и удивить гостей интересным слайдшоу, а можно реализовать то, на что в свадебный день никак не хватает времени, - сделать
            | фотосессию на закате, поплавать в лодке среди кувшинок, поваляться в траве в белоснежном платье :)
        p
            | А если о свадьбе говорить еще рано или вы уже давно женаты - просто приходите за красивыми фотографиями и новыми впечатлениям!
        h3
            | Профессиональная фотосессия (портрет, семейная фотосессия, фотосъемка беременных, детские фото)
        p
            | В жизни случается масса увлекательных событий и одно из них вы можете создать сами.&nbsp;
            strong Профессиональная фотосессия&nbsp;
            | - одно из таких приключений! Возможно все: от веселой&nbsp;
            strong семейной фотосессии
            | в парке
            | до создания безумных образов.&nbsp;
            b Полный отрыв от забот гарантирован!
    #slides
        ul#pfotos
            li
                a(href='/album/wedding')
                    img(alt='фотограф Харьков', title='свадебный фотограф Харьков', src='img/001.jpg')
