extends _layout

block content
    h2 Стоимость услуг
    p Все фотографии проходят компьютерную обработку, исходные RAW-файлы не отдаются.
    p Срок выполнения заказа - от двух недель до двух месяцев.
    p Выезд в другой город а также конфиденциальная съемка обсуждаются индивидуально.
    .text
        img(alt='Фотограф на свадьбу Харьков', title='свадьба', src='img/02-1.jpg')
        h2 Свадебная фотосессия
        h3 Съемка 5 часов - 3000грн
        ul.list
            li обработка ВСЕХ фотографий
            li фотографии на DVD-диске, около 250шт
            li печатные фото 20х30см (15шт) или слайдшоу
            li дополнительное время - 300грн/час
        h3 Съемка 9 часов - 4000грн
        ul.list
            li обработка ВСЕХ фотографий
            li фотографии на DVD-диске, 300-350шт
            li печатные фото 20х30см (15шт) или слайдшоу
            li дополнительное время - 300грн/час
        h3 Дополнительно:
        ul.list
            li фотокниги от 600грн до 3500грн
            li фотокартина на холсте от 250грн до 950грн
            li при заказе свадьба + love story скидка на love story 500грн
    .text
        img(alt='Фотограф на свадьбу Харьков', title='фотосессия харьков', src='img/05.jpg')
        h2 Индивидуальная портретная фотосессия
        h3 Пакет "Лайт" - 1000грн
        ul.list
            li съемка на протяжении 1-1,5 часов
            li 15 фотографий на диске
        h3 Пакет "Классика" - 1500грн
        ul.list
            li съемка на протяжении 2-3 часов
            li 30 фотографий на диске
        h3 Дополнительно:
        ul.list
            li услуги стилиста: макияж 250-350грн (обязательно), прическа от 150грн (по желанию)
            li в случае съемки в студии, аренда помещения оплачивается отдельно - 100грн/час
            li фотокниги от 400грн до 2500грн
            li фотокартина на холсте от 250грн до 950грн
    .text
        img(alt='Фотограф на свадьбу Харьков', title='семейная фотосессия', src='img/03.jpg')
        h2 Love story или семейная фотосессия
        h3 Пакет "Лайт" - 1500грн
        ul.list
            li съемка на протяжении 1-1,5 часов
            li 30-40 фотографий на диске
        h3 Пакет "Классика" - 2000грн
        ul.list
            li съемка на протяжении 2-3 часов
            li 80 фотографий на диске
        h3 Дополнительно:
        ul.list
            li услуги стилиста: макияж 250-350грн (обязательно), прическа от 150грн (по желанию)
            li в случае съемки в студии, аренда помещения оплачивается отдельно - 100грн/час
            li фотокниги от 400грн до 2500грн
            li фотокартина на холсте от 250грн до 950грн
    p Узнать какие даты свободны можно по телефону или другим удобным вам способом в разделе&nbsp;
        a(href='/info') Контакты
